extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Michelle van der Walt

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            |I am an ambitious, passionate, determined and glass-half-full individual jumping into a new career.
            |After some family setbacks, combined with the current lock-down due to the Corona virus, I decided that now would be the ideal time for me to change careers like I've wanted for so long.
            |I did my research and decided to start my journey with Treehouse. I enrolled for the Full Stack JavaScript Techdegree and have been enjoying the learning curve.
            |I've fallen in love with web development and the endless possibilities that come with it. I cannot wait to start this new journey like a phoenix from the ashes. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Vanilla Javascript
          li HTML
          li CSS
          li Express
          li Pug 
          li AJAX

        h6 Contact Info

        ul
          li 555-555-1234
          li michelle@gmail.com

        a.button.expanded(target= "_blank" href='https://www.linkedin.com/in/michelle-van-der-walt-629640170/') LinkedIn
        a.button.expanded(target= "_blank" href='https://github.com/MichellevdWalt') GitHub
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  